<section class="page-section bg-primary text-white mb-0" id="contact">
    <div class="container">
        
        <h2 class="page-section-heading text-center text-uppercase text-white">Kontakt</h2>
        <h6><center><font color="#2e2e2e">Zapraszamy do pomocy przy tworzeniu wspólnie strony</font></h6>
        
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-heart"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead"><center><h3>E-Mail</h3><p>Zapraszamy do kontaktu poprzez maila: <font color="#2e2e2e">BetterVinted@gmail.com</font>.</p></p></div>
            <div class="col-lg-4 me-auto"><p class="lead"><center><h3>Telefon</h3><p>Napisz lub zadzwoń do nas na numer <font color="#2e2e2e">+48739019231</font>.</p></p></div>
    </div>
</section>