<!DOCTYPE html>
<html lang="en">
<head>
    <title>Better Vinted</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h2>
            <a href="/">Better Vinted</a>
        </h2>
        <p><small>Przełącz motyw</small></p>
        <div id="toggle">
            <i class="indicator"></i>
        </div>

        <script>
            const body = document.querySelector('body');
            const toggle = document.getElementById('toggle');
            toggle.onclick = function(){
                toggle.classList.toggle('active');
                body.classList.toggle('dark-mode');
            }
        </script>
    </header>
    <main>
