{{> header.html}}
{{> main.html}}
<section class="page-section portfolio" id="find_vinted">
<div class="container">
    <div>ㅤㅤㅤ</div>

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0" style="line-height: 150%">
        Szukaj przedmiotów:
    </h2>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fa-solid fa-heart"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <form action="vinted" method="GET">
        <center>
            <input type="text" id="query" style="border: medium solid #467575; border-radius: 10px; height: 50px; width: 210px;" name="query" placeholder="adidas" maxlength="30" required>
            <p>
            <input type="submit" value="Wyślij" style="border: medium solid transparent; border-radius: 10px; margin-top: 5px;">
        </center>
    </form>

    <div class="divider-custom">
        <div class="divider-custom-line"></div>
    </div>

</div>
</section>
{{> contact.html}}
{{> footer.html}}