{{> header.html}}
<section class="page-section portfolio" id="find_vinted">
  <div class="container">

    <h1 style = "margin-bottom: 30px; color: #467575;"> Wyniki Wyszukiwania:</h1>

    <center>

    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa-solid fa-heart"></i></div>
      <div class="divider-custom-line"></div>
    </div>


  <form action="vinted" method="GET">
    <input type="text" id="query" style="border: medium solid #467575; border-radius: 10px; height: 50px; width: 210px;" name="query" value={{adidas}} maxlength="30" required>
    <input type="number" min="1" max="10" id="cnt" style="border: medium solid #467575; border-radius: 10px; height: 50px;" name="cnt" value={{cnt}}>
    
    <select name="sort" id="sort" style="border: medium solid #467575; border-radius: 10px; height: 50px; width: 210px;">
      <option value="0">Po serduszkach malejąco</option>
      <option value="1">Po serduszkach rosnąco</option>
      <option value="2">Po cenie rosnąco</option>
      <option value="3">Po cenie malejąco</option>
    </select>
    <p>
    <input type="submit" value="Wyślij" style="border: medium solid transparent; border-radius: 10px; margin-top: 5px;">
  </form>


  <!-- Po czym jest to segregowane -->
  <!--{{sortmes}}--> 

  <div class="divider-custom">
    <div class="divider-custom-line"></div>
  </div>

</center>

<!-- Wyświetlanie przedmiotów -->
<div class="grid-container">
  {{#items}}
    <div class="grid-item" style="border: medium solid transparent; border-radius: 1px; padd width: 300px; height: 550px; margin-left:15px;">  
      <div style="text-align: left; margin-left: 5px; margin-bottom: 10px;">
      {{#user}}
        <div>
          <a href="{{profile_url}}" style="text-decoration: none;">
            <div>
              {{#photo}}
                <img src={{url}} alt="photo_url" width="30" height="30" style="border-radius: 50%;"></img> &nbsp;
              {{/photo}}
              {{login}}
            </div>
          </a>
        </div>
      {{/user}}
      </div>
      



      <div>
        <a href="{{url}}" alt="item_url">
          {{#photo}}
            <div><img src="{{url}}" alt="item_photo" width="300" height="400" style="border-radius: 20px;"></div>
          {{/photo}}
        </a>
      </div>
      
      <div style="text-align: left; margin-left: 5px; margin-right: 5px;">
        <div style="display: flex; justify-content: space-between; margin-top: 5px;">
          <p style="font-size: 20px; margin-bottom: 2px;">{{price}} zł</p>
          <p style="margin-bottom: 2px;">
            <i class="fa-regular fa-heart" style="font-size: 20px;"></i>
            <span style="font-size: 15px;">{{favourite_count}}</span>
          </p>
        </div>

        <p style="margin-bottom: 1px; font-size: 15px;"></pstyle>{{size_title}}</p>
        <p style="font-size: 15px;">{{brand_title}}</p>
     </div>
      <!-- <h8>{{title}}</h8> <p>{{brand_title}}</p> {{currency}} <p>Stan: {{status}}</p>-->

  </div>
  {{/items}}
</div>


{{^items}}
<div>
  <h2>Niestety, pusto.</h2>
  <p>Nie znaleźliśmy pasujących przedmiotów. Spróbuj wpisać inne słowo kluczowe lub zmienić filtry.</p>
</div>
{{/items}}


<div class="pagination-parent">
<div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#" class="active">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">&raquo;</a>
</div>
</div>
</div>
</section>
{{> footer.html}}