{{> header.html}}

<h1>Wyniki wyszukiwania w Vinted</h1>
<p>Proszę podać nazwę szukanego przedmiotu oraz numer strony do wyświetlenia:</p>
<form action="vinted" method="GET">
    <label for="query">Nazwa szukanego przedmiotu:</label><br>
    <input type="text" id="query" name="query" placeholder="adidas" maxlength="30" required><br>
    <label for="cnt">Numer strony:</label><br>
    <input type="number" min="1" max="10" id="cnt" name="cnt" placeholder="1"><br><br>
    <input type="submit" value="Wyślij">

    <select name="sort" id="sort">
      <option value="0">Po serduszkach rosnąco</option>
      <option value="1">Po serduszkach malejąco</option>
      <option value="2">Po cenie rosnąco</option>
      <option value="3">Po cenie malejąco</option>
    </select>
</form>


{{#data}}
<div class="grid-container">
{{#items}}
    <div class="grid-item" style="border: medium solid #3385ff; border-radius: 12px; padding: 10px; margin: 10px;">
      {{#user}}
      <div>
        <a href="{{profile_url}}">
          <div>
            {{login}}
            {{#photo}}
            <img src={{url}} alt="photo_url" width="30" height="30"></img>
            {{/photo}}
          </div>
        </a>
      </div>
      {{/user}}
      <div>
        <a href="{{url}}" alt="item_url">
          {{#photo}}
          <div><img src="{{url}}" alt="item_photo" width="200" height="200"></img></div>
          {{/photo}}
        </a>
      </div>
      <div>
        <h2>{{title}}</h2>
        <p>{{price}}&nbsp{{currency}}</p>
        <p>{{favourite_count}} serduszek <b><3</b>
        </p>
        <p>Stan: {{status}}</p>
        <p>{{brand_title}}</p>
      </div>
    </div>
{{/items}}
</div>
{{/data}}
{{#data}}
{{^items}}
<div>
  <h2>Niestety, pusto.</h2>
  <p>Nie znaleźliśmy pasujących przedmiotów. Spróbuj wpisać inne słowo kluczowe lub zmienić filtry.</p>
</div>
{{/items}}
{{/data}}

{{> footer.html}}
